{% extends "template.html" %}
{% block content %}
	{% for message in get_flashed_messages() %}
		<p>{{message}}</p>
	{% endfor %}

	{% if order %}
		<h2>Current Orders</h2>
        <table>
	<!-- Table here is Item name, quantity, price per item, total price -->
    <tr class="header_table">
        <td>Item</td>
        <td>Quantity</td>
        <td>Price of item</td>
        <td>Total price</td>
    </tr>
	{% for row in currorder %}
	<tr>
		<td>{{row[0]}}</td> <td>{{row[1]}}</td> <td>{{row[2]}}</td> <td>{{row[3]}}</td>
	</tr>
	{% endfor %}
	</table>
    <br/>
    <br/>
	<h3>The total cost of the items is: ${{totalcost}}</h3>
	<p>{{warning}}</p>
    <br />
    <br />
		<a href = "/delete"> Delete current order </a><br />
		<p> Satisfied with your current order? <a href = "/checkout"> Checkout </a> </p>
	{% endif %}
{% endblock %}