{% extends "template.html" %}
{% block content %}
	<p>Here is the order you have checked out on {{date}}</p>
	<!-- Table here is the same as in the cart... -->
	<table>
	<tr class="header_table">
        <td>Item</td>
        <td>Quantity</td>
        <td>Price of item</td>
        <td>Total price</td>
    </tr>
	{% for row in currorder %}
	<tr>
		<td>{{row[0]}}</td> <td>{{row[1]}}</td> <td>${{row[2]}}</td> <td>${{row[3]}}</td>
	</tr>
	{% endfor %}
	</table>
	<h3>The total cost of the items is: ${{totalcost}}</h3>
	<br />
	<p>Please come down to the store on {{collectdate}} to collect your order and pay. </p>
	
	<p> A copy of the invoice has been emailed to you.</p>
	<p>You can print it out from there and bring it down to the shop to pay and collect the items.</p>
	
	
{% endblock %}