{% extends "template.html" %}
{% block content %}
    <h2>Welcome to the DHS Souvenir Store!</h2>
	<p> {{error}}</p>
	<h3>Catalog:</h3>
	<form method = "post" action = "">
    <table>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A4%20clear%20holder1.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">A4 Lecture Pad </a></td>
		<td><input type = "number" name = "item1" value = 0></td>
	</tr>
    <tr>
        <td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/Sticky%20note1.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">7-colour sticky note with pen</a></td>
		<td><input type = "number" name = "item2" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20exercise%20book.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">A5 exercise book</a></td>
		<td><input type = "number" name = "item3" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">A5 note book with zip bag</a></td>
		<td><input type = "number" name = "item4" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">2B pencil</a></td>
		<td><input type = "number" name = "item5" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">Stainless steel tumbler</a></td>
		<td><input type = "number" name = "item6" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">A4 clear holder</a></td>
		<td><input type = "number" name = "item7" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">A4 vanguard file</a></td>
		<td><input type = "number" name = "item8" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">Name card holder</a></td>
		<td><input type = "number" name = "item9" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">Umbrella</a></td>
		<td><input type = "number" name = "item10" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">School badge (Junior High) </a></td>
		<td><input type = "number" name = "item11" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">School badge (Senior High) </a></td>
		<td><input type = "number" name = "item12" value = 0></td>
	</tr>
	<tr>
		<td><a href="#" onClick="MyWindow=window.open('http://people.dhs.sg/wangjie/plp8/photos/A5%20note%20book%20with%20zip.jpg','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;">Dunman dolls (pair)</a></td>
		<td><input type = "number" name = "item13" value = 0></td>
	</tr>
    </table>
	<input type = "submit" value = "submit">
	</form>
	<br />
	<br />
{% endblock %}